Screen {
    layers: below above;
}
#container {
    overflow-y: auto;
    padding: 1;
}

ChatItem {
    padding: 1;
    padding-bottom: 0;
    width: 100w;
}

ChatItem .chatItem {
    width: 100w;
    height: auto;
}

ChatItem .author {
    color: $secondary;
    width: 10%;
    padding: 1;
}

ChatItem .me {
    background: $panel;
    align: right top;
}

ChatItem .salman {
    background: $panel-lighten-1;
    align: left top;
}


ChatItem .text {
    width: 90%;
    padding: 1;
}

PromptWidget {
    background: $panel;
    height: 5;
    margin: 1;
    padding: 1;
}

PromptWidget Input {
    margin-right: 1;
    padding-right: 1;
    overflow-y: auto;
}

DebugLog {
    display: none;
}

DebugLog.show{
    layer: above;
    display: block;
    height: 50%;
    width: 100%
}   

