Screen {
}
PromptWidget {
    layout: horizontal;
    background: $boost;
    height: 5;
    margin: 1;
    padding: 1;
}

PromptWidget Input {
    margin-right: 1;
    padding-right: 1;
    overflow-y: auto;
}
